@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main_div {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.box {
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.box h1 {
  margin-bottom: 2.2rem;
  color: #bdeafc;
  text-align: center;
  text-transform: capitalize;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 1.12rem;
  color: #bdeafc;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid #bdeafc;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: -22px;
  left: 0;
  letter-spacing: 1px;
  padding: 5px 0;
  font-size: 1.2rem;
  color: #bdeafc;
  transition: 0.6s;
  pointer-events: none;
}

.box input[type='submit'] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.signup {
  color: #bdeafc;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 15px;
}
.signup a {
  color: rgb(194, 132, 0);
  transition: 0.3s linear;
  text-decoration: none;
}
.signup a:hover {
  color: orange;
}
