@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

.questionbox {
  border: none;
  outline: none;
  min-height: 80vh;
}

.mainquestion {
  box-shadow: 0 1px 5px rgba(231, 221, 221, 0.3);
  background: #ffffff;
  border: none;
  outline: none;
  font-family: 'Muli', sans-serif;
  color: #057764;
}
.mainquestion:hover {
  box-shadow: 0 0 15px rgba(1, 43, 32, 0.315);
}
.logout {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 1rem;
  font-family: 'MedievalSharp', cursive;
  text-transform: uppercase;
  font-weight: 600;
  color: #2c2c2c;
  text-decoration: none;
  transition: 0.3s linear;
}
.logout:hover {
  color: #2c2c2c;
  text-decoration: none;
}

.mainspinner {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
